<div class="bg-gradient-to-r from-orange-400 to-amber-200 absolute
flex flex-row justify-evenly items-start flex-wrap py-16 dark:bg-gradient-to-r dark:from-slate-900 dark:to-slate-700">
  <div *ngFor="let image of imageCollection">
    <app-image-card [image]="image" (click)="selectImage(image)"></app-image-card>
  </div>
</div>
<app-details-modal [visible]="detailsModalVisible"
                   [image]="selectedImage"
                   (close)="detailsModalVisible = false">
</app-details-modal>
