<div class="fixed z-10 bg-clip-padding backdrop-filter backdrop-blur-sm
bg-opacity-50 bg-white dark:bg-slate-800 drop-shadow-md h-12 w-full flex flex-row content-center items-center justify-between">
  <fa-icon [icon]="faBars" class="m-3 cursor-pointer hover:scale-110 hover:ease-in duration-150 dark:text-white" size="lg"></fa-icon>
  <span class="font-sans italic text-lg font-bold hover:scale-105 hover:ease-in duration-150 cursor-pointer dark:text-white" routerLink="/landing">Sight Sea</span>
  <fa-icon [icon]="faCircleHalfStroke" class="m-3 cursor-pointer hover:scale-110 hover:ease-in duration-150 dark:text-white" size="lg"></fa-icon>
</div>
