<div class="m-8 h-96 w-80 rounded-lg overflow-hidden drop-shadow-lg bg-white
dark:bg-slate-700 hover:scale-105 hover:ease-in duration-200 cursor-pointer">
  <div class="bg-cover bg-center h-64 hover:h-96 hover:ease-in duration-200" [style.background-image]="getSafeUrl(image?.urls?.regular)"></div>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 dark:text-white">{{ getFullName(image!.user) }}</div>
    <p class="text-gray-700 text-base dark:text-white line-clamp-2">
      {{ getDescription(image!) }}
    </p>
  </div>
</div>
